<% content_for :title do %><%= "Virgo4 Pools (#{ENV[ 'ENVIRONMENT' ]})" %><% end %>
<div class="gridster">
   <center><div style="font-size: 22px"><a href="/virgo4-main" class="pull-left">&nbsp;previous</a><%= "Virgo4 Pools (#{ENV[ 'ENVIRONMENT' ]})" %><a href="/virgo4-ingest-inbound-minute" class="pull-right">next&nbsp;</a></div></center>

  <ul>

     <% services = [ 'EDS_ARTICLES_POOL_SERVICE',
                     'JMRL_POOL_SERVICE',
                     'SOLR_ARCHIVAL_POOL_SERVICE',
                     'SOLR_CATALOG_POOL_SERVICE',
                     'SOLR_IMAGES_POOL_SERVICE',
                     'SOLR_MAPS_POOL_SERVICE',
                     'SOLR_MUSIC_RECORDINGS_POOL_SERVICE',
                     'SOLR_MUSICAL_SCORES_POOL_SERVICE',
                     'SOLR_SERIALS_POOL_SERVICE',
                     'SOLR_SOUND_RECORDINGS_POOL_SERVICE',
                     'SOLR_THESIS_POOL_SERVICE',
                     'SOLR_VIDEO_POOL_SERVICE',
                     'WORLDCAT_POOL_SERVICE' ] %>
     <% services.each do |key| %>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
           <div data-id="<%= "#{CONFIG[key]['id']}" %>" data-view="Statusbox" data-title="<%= "#{CONFIG[key]['title']}" %>" data-text="Down"></div>
        </li>

     <% end %>

  </ul>
</div>
